
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid nav-background">
      <a class="navbar-brand" href="#"><img src="assets/images/logos/blue3.png" alt="BrightMarbles Films"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/user']">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/user/favorites']">Favorites</a>
          </li>
        </ul>
        <div class="d-flex username justify-content-between">
          <a class="nav-link" href="#" (click)="logout($event)">Logout ({{userName}})</a>
        </div>
       
      </div>
    </div>
  </nav>