<div *ngIf="!loading" class="container-fluid">
    <app-nav></app-nav>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/user/tv', id]">{{tvShowName}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{tvSeasonInfo.name}}</li>
        </ol>
      </nav>

        <div class="row float-left">

            <table class="table table-borderless">
              <tr>
                  <td style="vertical-align:top">
                    <table class="table table-borderless">
                        <tbody>
                            <tr><td><img src="{{endPoints.imagesURL}}{{tvSeasonInfo.poster_path}}" alt="{{tvSeasonInfo.name}}"></td></tr>
                      
                            <tr><td>First Aired On</td><td>{{tvSeasonInfo.air_date}}</td></tr>

                       
                        </tbody>

                       </table>
                  </td>
                  <td style="vertical-align:top">
                    <p>{{tvSeasonInfo.overview}}</p>
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Episode</th>
                            <th>Title</th>
                            <th>Aired On</th>
                            <th>Viewed</th>
                        </tr>
                        
                    </thead>
                    <tbody>
                        <tr *ngFor="let episode of tvSeasonInfo.episodes">
                         <td>{{episode.episode_number}}</td>
                         <td><a [routerLink]="['/user/tv-episode-details', id, seasonNumber, tvShowName, episode.episode_number]">{{episode.name}}</a></td>
                         <td>{{episode.air_date}}</td>
                         <td>{{episodeIsViewed(episode.episode_number)}}</td>
                        </tr>
                    </tbody>
                    </table>

                    <div class="row">
                        <app-notetaker [tvId]="id" [seasonNumber]="seasonNumber"></app-notetaker>
                    </div>
                
                </td>
              </tr>

            </table>


    </div>

</div>

